@use "../utils/" as *;

@media screen and (max-width: 1200px) {
  %display {
    display: none;
  }

  .nav {
    &__btns {
      button {
        &:nth-child(3) {
          @extend %display;
        }
      }
    }

    &__search {
      @extend %display;
    }

    justify-content: center;
  }

  .navbar {
    padding: 2rem 0;
    &__logo {
      grid-column: 2/3;
    }

    &__links {
      @extend %display;
    }
  }

  .footer {
    &__top {
      @include flex(flex, column, center, center);
    }

    &__bottom {
      @include flex(flex, column, center, center);
    }
  }
}
